<!doctype html>
<html lang="en">
<head>
  <title>HLA Eplet Analyzer</title>
  <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='img/favicon.ico')}}"/>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="mobile-web-app-capable" content="yes"/>

  <meta name="description" content="Predict anti-HLA antibody targets at the eplet level using machine learning."/>
  <meta name="keywords" content="Immunology, Transplant, HLA, CPRA, DSA, Luminex, SAB, Panel, MFI, Cutoff, Calculator, Software, LIMS"/>
  <meta name="author" content="HLA Eplet Analyzer"/>
  <meta name="robots" content="index, follow"/>

  <meta name="canonical" content="/"/>

  <meta property="og:title" content="HLA Eplet Analyzer"/>
  <meta property="og:description" content="Predict anti-HLA antibody targets at the eplet level using machine learning."/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="/"/>

  <meta name="theme-color" content="#43AAB4"/>
  <meta name="language" content="English"/>
  <meta name="distribution" content="global"/>
  <meta name="rating" content="general"/>

  <link rel="stylesheet" href="{{url_for('static', filename='css/pure_min.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static', filename='css/pure_responsive_min.css')}}"/>
  <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}"/>
</head>

<body>
  <div class="header">
    <h1><a href="/">HLA Eplet Analyzer</a></h1>

    <p>Predict anti-HLA antibody targets at the eplet level using machine learning.</p>
  </div>

  <div class="instructions">
    <span class="strong">Instructions:</span>
    <br/>

    <ul>
      <li>Fill in the eplet's panel data (<a href="#" id="set-example">see example</a>).</li>
      <li>Check if all fields are filled.</li>
      <li>Click "Continue".</li>
    </ul>
  </div>

  <div class="content pure-g">
    <div class="pure-u-1 pure-u-lg-2-3 pure-u-xl-1-2">
      <form id="form" action="/predict" method="get" class="pure-form pure-form-stacked">
        <fieldset>
          <div class="pure-g">
            <div class="pure-u-1-2">
              <label for="eplet_locus">HLA locus group</label>

              <select id="eplet_locus" name="eplet_locus" class="pure-u-22-24">
                <option value="">Select...</option>
                <option value="abc">ABC</option>
                <option value="drb">DRB</option>
                <option value="dq">DQ</option>
                <option value="dp">DP</option>
              </select>
            </div>

            <div class="pure-u-1-2">
              <label for="eplet_allele_qtd">Allele quantity</label>
              <input type="number" min="0" step="1" id="eplet_allele_qtd" name="eplet_allele_qtd" class="pure-u-1"/>
            </div>
          </div>

          <br/>

          <div class="pure-g">
            <div class="pure-u-1-2">
              <label for="eplet_min_mfi">Eplet's min. MFI</label>
              <input type="number" min="0" step="1" id="eplet_min_mfi" name="eplet_min_mfi" class="pure-u-22-24"/>
            </div>

            <div class="pure-u-1-2">
              <label for="eplet_max_mfi">Eplet's max. MFI</label>
              <input type="number" min="0" step="1" id="eplet_max_mfi" name="eplet_max_mfi" class="pure-u-1"/>
            </div>
          </div>

          <br/>

          <div class="pure-g">
            <div class="pure-u-1-2">
              <label for="panel_nc">Panel's Neg. Ctrl.</label>
              <input type="number" min="0" step="1" id="panel_nc" name="panel_nc" class="pure-u-22-24"/>
            </div>

            <div class="pure-u-1-2">
              <label for="panel_pc">Panel's Pos. Ctrl.</label>
              <input type="number" min="0" step="1" id="panel_pc" name="panel_pc" class="pure-u-1"/>
            </div>
          </div>

          <br/>

          <button type="submit" id="continue" class="pure-button pure-button-primary strong">Continue</button>
        </fieldset>
      </form>

      <div id="result" class="result" style="display: none;">
        <p class="result__label">
          The eplet <span id="result__label">?</span> antibody-reactive!
        </p>

        <p class="result__scores">
          &#10132; Probability of not being antibody-reactive: <span id="result__score0">?</span>
          <br/>
          &#10132; Probability of being antibody-reactive: <span id="result__score1">?</span>
        </p>

        <p>
          Note: antibody-reactive HLA eplets are those against which the recipient may have important anti-HLA antibodies.
          If the donor shares one of these eplets, the risk of the recipient developing antibody-mediated rejection against the graft will be greater.
          Remember that all results presented here are based on probabilities. <span class="strong">This tool is for research use only!</span>
        </p>
      </div>
    </div>
  </div>

  <div class="api_access">
    <span class="strong">API access:</span>

    <br/>

    <ul>
      <li>
        Endpoint:
        <ul>
          <li>URL: /predict</li>
          <li>HTTP methods: GET or POST.</li>
          <li>There is no limit on requests.</li>
        </ul>
      </li>

      <li>
        Input:
        <ul>
          <li>Params: "eplet_locus", "eplet_allele_qtd", "eplet_min_mfi", "eplet_max_mfi", "panel_nc" and "panel_pc".</li>
          <li>"eplet_locus" can be "abc", "drb", "dq" or "dp".</li>
          <li>Complete URL example: <a href="/predict?eplet_locus=ABC&eplet_allele_qtd=17&eplet_min_mfi=509&eplet_max_mfi=12000&panel_nc=102&panel_pc=13200">click here</a>.</li>
        </ul>
      </li>

      <li>
        Output:

        <ul>
          <li>JSON with "label", "score0" and "score1" attributes.</li>
          <li>"label" is the result (the value "1" indicates an antibody-reactive eplet).</li>
          <li>"score0" and "score1" are the probabilities of the result being 0 or 1.</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="footer">
    <p>&copy; 2026 HLA Eplet Analyzer. All rights reserved. For research use only.</p>

    <br/>

    <small>
      Version: <b>2026-05-05</b>.
      Support: <b><a href="mailto:mariomarroquim@gmail.com">mariomarroquim@gmail.com</a></b>.
    </small>
  </div>

  <script type="text/javascript" defer="defer" src="{{url_for('static', filename='js/jquery_min.js')}}"></script>
  <script type="text/javascript" defer="defer" src="{{url_for('static', filename='js/custom.js')}}"></script>
</body>
</html>
